# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Design files
designs/incoming/*
designs/finished/*
!designs/incoming/.gitkeep
!designs/finished/.gitkeep

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store